.pun-wrapper {
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    border: 1px solid black;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px; /* 5px rounded corners */
}

.pun-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icons-wrapper {
    font-size: 1.25rem;
    width: 100%;
    text-align: right;
}

.status-icon {
    padding: 5px;
}

.pun-title {
    font-size: 3.5rem;
    font-style: italic;
}

.pun-setup, .pun-punchline {
    font-size: 3rem;
}

.pun-setup {

}

.pun-punchline {
    font-style: italic;
}

.reveal-button,
.pun-punchline {
    display: inline-block;
    margin: 0;
    padding: 14px 28px;
    font-size: 3rem;
    cursor: pointer;
    background-color:rgba(255, 0, 0, 0.8);
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px; /* 5px rounded corners */
}


.pun-submittedBy {
    font-style: italic;
}

.pun-error {
    font-size: 1.5rem;
}

.refresh-link {
    display: inline-block;
    padding: 14px 28px;
    font-size: 1.25rem;
    cursor: pointer;
    background-color: #04AA6D;
    color: white;
}

.pun-loader {
    font-size: 3rem;
}

.pun-title {
    font-size: 1rem;
}

@media only screen and (min-width: 1100px) {
    .pun-wrapper {
        margin: 50px auto;
        max-width: 60%;
    }
  }