.pun-wrapper {
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    border: 1px solid black;
    padding: 15px;
}

.pun-title {
    font-size: 3.5rem;
}
.pun-setup, .pun-punchline {
    font-size: 1.5rem;
}

.reveal-button {
    text-decoration: underline;
}

.pun-punchline {

}
.pun-submittedBy {
    font-style: italic;
}

.pun-error {
    font-size: 1.5rem;
}

.refresh-link {
    font-size: 1.25rem;
    text-decoration: underline;
}