.user-nav--container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px;
}

.user-nav__link,
.user-nav__link:visited,
.user-nav__link:active {
    color: #000;
    text-decoration: none;
    padding: 0 10px;
}

.user-nav__link:hover {
    text-decoration: underline;
}